<section class = "artistinfo">
  <div class = "artist cf" ng-model = "artists">
      <h1> {{ artists[itemNum].name}} </h1>
      <div class = "info">
      <h3> {{ artists[itemNum].reknown}} </h3>
      <img ng-src = "images/{{ artists[itemNum].shortname }}_tn.jpg" alt = "Photo of {{ artist[item].name }}">
      <div class = "bio"> {{ artists[itemNum].bio}}> </div>
      </div>
      </div>
      <a href = "#/details/{{prevItem}}" class = "btn btn-left"> &lt; </a>
      <a href = "#/details/{{nextItem}}" class = "btn btn-right"> &gt; </a>
      <a href= "#/list"> Back to Search </a>
</section>